* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.scrollable-content::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
canvas.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.scrollable-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll; /* 在这个容器内允许垂直滚动 */
  padding: 20px;
  box-sizing: border-box; /* 保证内边距不会影响定义的宽高 */
  color: white; /* 文本颜色 */
}
