* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: scroll;
  cursor: url("/images/cursor-image.png"), auto;
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

canvas.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.onboarding-title-png {
  width: 800px;
  margin-top: 50px;
  z-index: 3;
}

.scroll-content {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding-bottom: 50px;
  padding-top: 200px;
  padding-left: 320px;
  overflow-y: scroll;
  color: white;
  align-items: center;
}

.scroll-content::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scroll-text {
  opacity: 1;
  transform: translate3d(0, 50px, 0);
  width: 50%;
  text-align: justify;
  color: beige;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  will-change: opacity, transform;
  margin-top: 200px;
}
.scroll-png{
  opacity: 0;
  transition: opacity 1s ease-out;
}
.scroll-png.visible {
  opacity: 1;
}
.scroll-png-0{
  width: 800px;
  margin-top: 0px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-1{
  width: 533px;
  margin-right: 267px;
  margin-top: 200px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-2{
  width: 267px;
  margin-left: 267px;
  margin-right: 267px;
  margin-top: 50px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-3{
  width: 533px;
  margin-right: 267px;
  margin-top: 50px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-4{
  width: 533px;
  margin-left: 267px;
  margin-top: 0px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-5{
  width: 267px;
  margin-left: 533px;
  margin-top: 50px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-6{
  width: 267px;
  margin-right: 267px;
  margin-left: 267px;
  margin-top: 0px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-7{
  width: 267px;
  margin-left: 533px;
  margin-top: 0px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-8{
  width: 533px;
  margin-left: 267px;
  margin-top: 0px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-9{
  width: 267px;
  margin-right: 533px;
  margin-top: 50px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-10{
  width: 533px;
  margin-left: 267px;
  margin-top: 50px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-11{
  width: 267px;
  margin-right: 267px;
  margin-left: 267px;
  margin-top: 50px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-12{
  width: 533px;
  margin-right: 267px;
  margin-top: 200px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-13{
  width: 533px;
  margin-right: 267px;
  margin-top: 50px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-14{
  width: 533px;
  margin-left: 267px;
  margin-top: 50px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-15{
  width: 267px;
  margin-left: 533px;
  margin-top: 50px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-16{
  width: 533px;
  margin-right: 267px;
  margin-top: 50px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-17{
  width: 533px;
  margin-right: 267px;
  margin-top: 200px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-18{
  width: 533px;
  margin-left: 267px;
  margin-top: 0px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-19{
  width: 533px;
  margin-right: 267px;
  margin-top: 50px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-20{
  width: 267px;
  margin-left: 267px;
  margin-right: 267px;
  margin-top: 257px;
  cursor: pointer;
}
.scroll-png-21{
  width: 800px;
  margin-top: 50px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-22{
  width: 800px;
  margin-top: 50px;
  pointer-events: none;
  user-select: none;
}
.scroll-png-23{
  width: 267px;
  margin-left: 533px;
  pointer-events: none;
  user-select: none;
  filter: grayscale(30%);
}
.scroll-png-24{
  width: 267px;
  margin-right: 533px;
  pointer-events: none;
  user-select: none;
  filter: grayscale(40%);
}
.scroll-png-25{
  width: 267px;
  margin-left: 533px;
  pointer-events: none;
  user-select: none;
  filter: grayscale(50%);
}
.scroll-png-26{
  width: 533px;
  margin-left: 267px;
  pointer-events: none;
  user-select: none;
  filter: grayscale(70%);
}
.scroll-png-27{
  width: 800px;
  pointer-events: none;
  user-select: none;
  filter: grayscale(80%);
}

@media (min-width: 1800px) {
  .scroll-content {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding-bottom: 100px;
    padding-top: 200px;
    padding-left: 600px;
    overflow-y: scroll;
    color: white;
    align-items: center;
  }
}
