html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #201919;
}

@font-face {
  font-family: "Normal-CH"; /*Can be any text*/
  src: local("FZYIXTJW-M"), url("./font/FZYIXTJW-M.ttf") format("truetype");
}

.cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
}

.dialog {
}

.label > div {
  font-family: Helvetica, Arial;
  position: absolute;
  background: #00000070;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 60px;
  user-select: none;
  font-size: 2.4rem;
  box-shadow: 0 0 16px 16px rgba(0, 0, 0, 0.5); /* 添加羽化效果 */
  width: 80px; /* 设置宽度 */
  height: 80px; /* 设置高度 */
  padding: 10px; /* 添加内边距以适应内容 */
}
.checkIcon {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  color: #fff;
  font-size: 2rem;
}

.dialogBackground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 350px;
  z-index: 3;
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 0) 8.9%,
    rgba(0, 0, 0, 0.4) 46.4%
  );
}

.person-back {
  width: 450px;
  height: 450px;
  position: absolute;
  left: 10%;
  bottom: -30px;
}

.person {
  width: 350px;
  height: 400px;
  position: absolute;
  left: 15%;
  bottom: 0;
}

.dialog {
  position: absolute;
  height: 150px;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 15px;
  max-width: 800px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #cdcdcd;
  position: relative;
  left: 35%;
  bottom: -30px;
  background: none;
  font-family: "Normal-CH";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 水平偏移、垂直偏移、模糊半径、颜色 */
}

.dialog .dialog-next {
  font-size: 40px;
  width: 100%;
  text-align: right;
}

.next-png {
  width: 65px;
  height: 65px;
  margin-right: 10px;
}

.options {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-top: -50px;
  margin-left: 50%;
  background: none;
  font-family: "Normal-CH";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 水平偏移、垂直偏移、模糊半径、颜色 */
}

.option-item {
  display: flex;
  align-items: center;
  min-width: 400px;
}

.select-png {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.hidden {
  opacity: 0;
}

.title-png {
  position: absolute;
  top: 80px;
  left: 80px;
  width: 280px;
  z-index: 3;
}

.about-png {
  position: absolute;
  top: 80px;
  right: 80px;
  width: 70px;
  z-index: 3;
}

.option-text {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Normal-CH";
  margin: 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 水平偏移、垂直偏移、模糊半径、颜色 */
}
.time-frame-png {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
}
.mask-jpg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/mask.jpg");
  background-size: cover;
  pointer-events: none;
  user-select: none;
  mix-blend-mode: screen;
  opacity: 0.2;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: blink 2.5s linear infinite;
}

.loading h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  opacity: 0.7;
}

.loading .img-title {
  width: 280px;
  height: 75px;
}

.loading .img-text {
  margin-top: 10px;
  width: 104px;
  height: 17px;
}

.loading-text {
  font-size: 24px;
  text-align: center;
  color: #7a7a7a;
  font-family: "Normal-CH";
  margin-top: 25px;
}

.item-pic-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#33333330, #000000);
  opacity: 0.9;
}

.item-img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  max-width: 500px;
  max-height: 380px;
  opacity: 1;
}

.flipPhoto-pos-0 {
  cursor: pointer;
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translate(-30%, -25%);
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flipPhoto-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipPhoto-inner.flipped {
  transform: rotateY(180deg);
}

.flipPhoto-front,
.flipPhoto-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flipPhoto-back {
  transform: rotateY(180deg);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
