html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #201919;
}

@font-face {
  font-family: "Normal-CH"; /*Can be any text*/
  src: local("FZYIXTJW-M"), url("./font/FZYIXTJW-M.ttf") format("truetype");
}

.cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
}

.dialog {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 150px;
  background: #00000088;
  color: white;
  font-size: 1.8rem;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 15px;
}

.label > div {
  font-family: Helvetica, Arial;
  position: absolute;
  background: #00000070;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 60px;
  user-select: none;
  font-size: 2.4rem;
  box-shadow: 0 0 16px 16px rgba(0, 0, 0, 0.5); /* 添加羽化效果 */
  width: 80px; /* 设置宽度 */
  height: 80px; /* 设置高度 */
  padding: 10px; /* 添加内边距以适应内容 */
}
.checkIcon {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  color: #fff;
  font-size: 2rem;
}

.dialogBackground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 350px;
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 0) 8.9%,
    rgba(0, 0, 0, 0.4) 46.4%
  );
}

.person-back {
  width: 450px;
  height: 450px;
  position: absolute;
  left: 10%;
  bottom: -30px;
}

.person {
  width: 350px;
  height: 400px;
  position: absolute;
  left: 15%;
  bottom: 0;
}

.dialog {
  max-width: 800px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #CDCDCD;
  position: relative;
  left: 35%;
  bottom: -30px;
  background: none;
  font-family: "Normal-CH";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 水平偏移、垂直偏移、模糊半径、颜色 */
}

.options {
  max-width: 400px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-top: -50px;
  margin-left: 50%;
  background: none;
  font-family: "Normal-CH";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 水平偏移、垂直偏移、模糊半径、颜色 */
}

.option-item {
  display: flex;
  align-items: center;
  min-width: 400px;
}

.select-png {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.hidden {
  opacity: 0;
}

.title-png {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 280px;
}

.about-png {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 70px;
}

.option-text {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Normal-CH";
  margin: 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 水平偏移、垂直偏移、模糊半径、颜色 */
}
.time-frame-png {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  
}
